@use 'sass:list';

@layer base {
  .scdream {
    font-family: 'SCDream';
  }
}

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
//     font-weight: 100;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
//     font-weight: 300;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
//     font-weight: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
//     font-weight: 500;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
//     font-weight: 600;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
//     font-weight: 700;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
//     font-weight: 800;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Escoredream';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
//     font-weight: 900;
//     font-display: swap;
// }

$fonts: (SCDream);
// $types1: (
//   1: 100,
//   2: 200,
//   3: 300,
//   4: 400,
//   5: 500,
//   6: 600,
//   7: 700,
//   8: 800,
//   9: 900,
// );
// @each $font in $fonts {
//   @if $font == 'SCDream' {
//     @each $type in $types1 {
//       @font-face {
//         font-family: '#{$font}';
//         font-weight: #{list.nth($type, 2)};
//         src: url('/SCDream#{list.nth($type,1)}.woff') format('woff');
//         font-display: swap;
//       }
//     }
//   }
// }

@font-face {
  font-family: '#{$fonts}';
  font-weight: 100;
  src: url('/S-CoreDream-1Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 200;
  src: url('/S-CoreDream-2ExtraLight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 300;
  src: url('/S-CoreDream-3Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 400;
  src: url('/S-CoreDream-4Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 500;
  src: url('/S-CoreDream-5Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 600;
  src: url('/S-CoreDream-6Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 700;
  src: url('/S-CoreDream-7ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 800;
  src: url('/S-CoreDream-8Heavy.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: '#{$fonts}';
  font-weight: 900;
  src: url('/S-CoreDream-9Black.woff') format('woff');
  font-display: swap;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  position: static;
  margin: 24px 0 20px;
  gap: 6px;

  &-bullet {
    margin: 0 !important;
    background-color: #b5b5b5;
    opacity: 1 !important;
    border-radius: 12px !important;

    &-active {
      background-color: #000;
      width: 24px !important;
    }
  }
}
